venv/
.idea/
build/
logs/
/!Cinemas/
Tools/
Activation.xml.xml
Activation.xml
Cinema.xml
CinemaSettings.xml
Statistics.key.xml
Statistics.key
second.py
third.py
fourth.py
IPS.exe
SCC2Report.pak
draft.py
draft2.py
draft3.py
ReportDir/
__pycache__/
*.pak
content.txt
